<% if logged_in? %>

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>

<div class="center jumbotron">
  <h1>みんなで司法試験</h1>

  <h2>
  法科大学院生の勉強量のすごさを肌で感じて、各自が勉強しているだけでも誰かの役に立つはずだと思い、このサイトを作りました。
  </h2>

  <%= link_to "答案を見る!", static_page_path(name: "constitution") ,class: "btn btn-lg btn-primary"%>

  <%= link_to "アカウントを作ろう!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
            
<% end %>          